@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Roboto Condensed";
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #ffbf00;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 4px 15px;
  letter-spacing: 3px;
  transition: all 0.5s ease;

  &:hover {
    text-shadow: 0 0 20px #ffbf00, 0 0 30px #ffbf00, 0 0 40px #ffbf00;
  }
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  clip-path: inset(0);
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    z-index: 1;
  }
}

.hero-img {
  position: absolute;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  filter: brightness(62%);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo-img {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: auto;
}

.links {
  position: absolute;
  bottom: 40px;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  padding: 0 40px;
  z-index: 2;
}

.links {
  margin: -100px auto 0 auto;
}

.container {
  flex: 1;
  display: flex;
  margin-top: 90px;
  justify-content: space-between;
  align-items: center;
  height: 100vh; /* Allows for content to adjust dynamically */
  overflow: hidden;
  z-index: 0;
}

.image-container {
  flex: 1;
  padding: 0;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-cnt2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 150px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(7px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  z-index: 2;
}

.about-container p {
  color: #ffbf00;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
  margin-top: 130px;
}

.about-container h1,
h2 {
  color: white;
  font-size: 47px;
  text-transform: uppercase;
}

.text-container {
  flex: 1;
  text-align: center;
  padding: 20px;
  width: 100%;
  gap: 10px;
  margin-top: -30px;
}

.text-adjust {
  color: #ffbf00;
  font-weight: 700;
  font-size: 1.1em;
  text-transform: uppercase;
}

.founder {
  color: #ffbf00;
  font-weight: 700;
  font-size: 1.3em;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
}

.text-title {
  color: white;
  font-size: 37px;
  text-transform: uppercase;
}

.text-container h1 {
  text-align: center;
}

.text-container h2 {
  text-align: center;
  margin-top: 50px;
}

.text-container h3 {
  color: white;
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
}

.text-container p {
  margin-top: 30px;
}

.section-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  width: 100%;
  font-family: "Roboto Condensed";
  font-weight: 700;
  height: auto;
  background-image: url("../images/honeycomb.webp");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  /* background-attachment: fixed; */
}

.section-separator img {
  object-fit: cover;
}

.section-separator h2 {
  color: black;
  font-size: 3.5em;
  font-family: "Montserrat";
  font-weight: 800;
}

.section-separator .title-products {
  font-size: 6em;
  font-family: "Montserrat";
  font-weight: 800;
}

.section-separator .product-paragraph {
  font-size: 2em;
  font-family: "Montserrat";
  font-weight: 800;
}


.section-separator p {
  font-size: 1.5em;
  text-transform: uppercase;
}

.team-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.founder-container,
.manager-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.founder-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.founder-image img {
  height: auto;
  max-width: 100%;
  padding: 30px;
  object-fit: cover;
}

.line-wrapper {
  width: 100%;
  height: 1px;
  background-color: #ffa500;
  position: relative;
}

.line-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 0;
}

.line-notch {
  width: 50px;
  height: 5px;
  background-color: yellow;
  position: absolute;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  top: -2px;
}

.manager-image {
  width: 30%;
  margin-top: 30px;
}

.manager-image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.about-image {
  width: 50%;
  height: auto;
  margin: 30px 0;
  display: flex;
  justify-content: center;
}

.about-image img {
  height: auto;
  max-width: 100%;
  padding: 30px;
  object-fit: cover;
}

.product-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  margin: 30px 0;
  /* margin-top: 500px;
  margin-bottom: 50px; */
}

.product-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 30px;
  gap: 10px;
}

.product-images img {
  width: 200px;
  height: 230px;
  object-fit: cover;
  border: 8px solid #ffa500;
}

.product-images h3 {
  text-align: center;
}

.product-images button {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #ffbf00;
  color: #ffbf00;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 700;
  border-radius: 200px;
  transition: all 0.5s ease;

  &:hover {
    background-color: #ffbf00;
    color: white;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px); /* Apply blur effect */
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 2rem;
  border-radius: 8px;
  border: 8px solid #ffa500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  width: 100%;
  z-index: 100;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal h3 {
  color: #ffbf00;
  font-weight: 700;
  font-size: 2.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.modal-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px; /* Space between image and text */
}

.modal-text {
  flex: 1;
}

.text-modal {
  color: #ffbf00;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}

.modal-content img {
  width: 400px;
  height: auto;
  border: 8px solid #ffa500;
  object-fit: cover;
}

.btn-close-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  align-self: flex-end;
  background: none;
  border: none;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.2s ease;
  width: 35px;
  height: 35px;

  &::before {
    content: "x";
    font-size: 1.5rem;
    color: grey;
  }

  &:hover {
    background-color: #ffbf00;
    transform: scale(1.1);
  }
}

.award-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

.award-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px 30px;
  gap: 10px;
}

.award-content img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border: 8px solid #ffa500;
}

.award-content .result {
  height: auto;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  width: 100%;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.contact-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.contact-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.contact-item img {
  width: 24px;
  height: 24px;
}

.contact-item p {
  margin-top: 100px;
  color: #ffbf00; /* Orange color for text */
}

.footer {
  background-color: #222020; /* Dark grey background */
  color: #fff; /* White text for contrast */
  text-align: center;
  padding: 50px 0;
  width: 100%; /* Full width */
  font-size: 18px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
  position: static; /* Allows it to appear at the bottom of the content */
}

.footer p {
  margin: 0;
  letter-spacing: 1px;
  font-family: "Roboto Condensed";
}

.hidden {
  display: none !important;
}

/* RESPONSIVE */

@media all and (max-width: 1200px) {
  .header img {
    height: 150px;
    object-fit: contain;
  }

  .links {
    margin-bottom: 5px;
  }

  .text-container h2 {
    margin-top: 20px;
  }

  .text-adjust {
    font-size: 1em;
  }

  .text-title {
    font-size: 25px;
  }

  .product-section {
    margin: 15px;
  }

  .section-separator {
    padding: 25px;
  }

  .section-separator h2 {
    font-size: 2.7em;
  }

  .founder-image {
    margin-top: 40px;
  }

  .contact-section {
    margin: 50px auto;
  }

  a {
    font-size: 11px;
  }
}

@media all and (max-width: 992px) {
  .text-adjust {
    font-size: 0.9em;
  }
}

@media all and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .text-container {
    width: 100%;
  }

  .text-container h1 {
    padding-top: 30px;
    font-size: 25px;
  }

  .text-container h2 {
    margin-top: 50px;
    font-size: 25px;
    margin-top: 35px;
  }

  .text-container p {
    text-align: center;
    padding: 15px;
  }

  .text-adjust {
    font-size: 0.85em;
  }

  .image-container img {
    height: 300px;
  }

  .text-modal {
    font-size: 0.8em;
  }

  .about-section {
    flex-direction: column-reverse;
  }

  .about-image img {
    height: 389px;
    padding: 2px;
  }

  .founder-container {
    flex-direction: column-reverse;
  }

  .line-container {
    width: 80%;
  }

  .manager-container {
    flex-direction: column-reverse;
  }

  .founder {
    font-size: 1em;
  }

  .contact-section h2 {
    font-size: 20px;
  }

  .contact-item p {
    margin-top: 65px;
  }
}

@media all and (max-width: 600px) {
  .modal-content {
    flex-direction: column-reverse;
  }

  .text-modal {
    font-size: 0.6em;
  }

  .modal h3 {
    font-size: 1.7em;
  }

  .text-adjust {
    font-size: 0.8em;
  }

  .manager-image {
    width: 40%;
  }

  .contact-section h2 {
    font-size: 18px;
  }

  .about-image img {
    height: 361px;
    padding: 2px;
  }
}

@media all and (max-width: 480px) {
  a {
    padding: 4px 8px;
  }

  .section-separator h2 {
    font-size: 2em;
  }

  .text-adjust {
    font-size: 0.79em;
  }

  .about-image img {
    height: 293px;
  }

  .manager-image {
    width: 50%;
  }

  .contact-section h2 {
    font-size: 16px;
  }

  .contact-item p {
    font-size: 16px;
  }

  .founder-image {
    width: 60%;
  }
}

@media all and (max-width: 401px) {
  a {
    padding: 4px 3px;
    font-size: 9px;
  }

  .text-container h1 {
    padding-top: 20px;
    font-size: 22px;
  }

  .text-container h2 {
    font-size: 17px;
    margin-top: 25px;
  }

  .text-container p {
    margin-top: 15px;
  }

  .text-adjust {
    font-size: 0.77em;
  }

  .section-separator h2 {
    font-size: 1.5em;
  }

  .modal-content img {
    width: 140px;
    border: 5px solid #ffa500;
  }

  .about-image img {
    height: 200px;
  }

  .founder {
    font-size: 0.8em;
  }

  .award-content img {
    height: 202px;
  }

  .award-content .result {
    height: 405px;
  }

  .footer p {
    font-size: 0.8em;
  }

  .contact-item p {
    font-size: 11px;
    margin-top: 55px;
  }

  .contact-section h2 {
    font-size: 14px;
  }

  .product-images img {
    width: 158px;
    border: 6px solid #ffa500;
  }

  .manager-image {
    width: 60%;
  }

  .founder-image {
    width: 75%;
  }

  .contact-item img {
    height: 22px;
    width: 22px;
    object-fit: cover;
  }

  .modal {
    padding: 1rem;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
